body {
  font-family: 'Raleway', sans-serif;
}

a {
  display: inline-block;
  text-decoration-line: none;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.wrapper{
  width: 100%;
  background-color: #f2f2f2;
}

.icon-bolt {
  font-size: 40px;
  float: left;
  color: #4e4e4e;
}

.header {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}
.header-inner {
  padding: 15px 0;
}
.header-contact {
  float: right;
  padding: 14px 12px;
  border-radius: 5px;
  background-color: #74cfae;
  color: #FFF;
  font-size: 12px;
  border: none;
}

.bolt {
  padding-top: 71px;
}
.keyvisual {
  background-color: #f2f2f2;
}
.keyvisual-inner {
  padding-top: 250px;
  padding-bottom: 250px;
}
.keyvisual h1 {
  text-align: center;
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}
.main-text {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
}

.about {
  background-color: #74cfae;
}
.about-inner {
  padding-top: 50px;
}
.iphone-title-menu {
  font-size: 24px;
  color: white;
  text-align: center;
  margin-bottom: 35px;
}
.iphone-text {
  font-size: 20px;
  color: white;
  text-align: center;
}
.iphone-img {
  float: left;
  width: 550px;
  text-align: center;
}
.iphone-img img {
  vertical-align: top;
}
.iphone-title {
  float: right;
  width: 550px;
}

.work {
  background-color: #f2f2f2;
}
.work-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}
.work-title {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.galley {
  box-sizing: border-box;
  font-size: 0;
  z-index: 0;
}
.galley-img {
  margin-left: 100px;
  margin-top: 80px;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
.galley-img:nth-child(-n+3) {
  margin-top: 0;
}
.galley-img:nth-child(3n+1) {
  margin-left: 0;
}
.galley-img:hover {
  opacity: 1;
}

.figure-content {
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-top: 90px;
}
.figure-text {
  float: left;
  font-size: 20px;
  text-align: center;
  width: 550px;
  margin-right: 90px;
  padding-left: 159px;
}
.figure-content-btn {
  padding: 14px 20px;
  border-radius: 5px;
  background-color: #74cfae;
  color: #FFF;
  font-size: 12px;
  border: none;
  transition: all  0.3s ease;
}
.figure-content-btn:hover {
  background-color: #333;
  transition: all  0.3s ease;
}
.figure-content-out {
  float: right;
  text-align: center;
  padding-right: 200px;
}

.skills {
  background-color: #4e4e4e;
}
.skills-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}
.skills-title {
  margin-bottom: 50px;
  font-size: 24px;
  color: white;
  text-align: center;
}
.skills-circle {
  text-align: center;
}
.skills-item {
  margin-left: 180px;
  display: inline-block;
}
.skills-item:first-child {
  margin-left: 0;
}
.skill {
  font-size: 16px;
  color: #FFF;
  text-align: center;
  margin-top: 10px;
}

.item-icon {
  background-color: #f2f2f2;
  text-align: center;
}
.item-icon-inner {
  vertical-align: middle;
  padding: 200px 0;
}
.icon {
  display: inline-block;
  font-size: 70px;
  text-align: center;
  color: #74cfae;
  padding: 15px 0;
  width: 185px;
  background-color: #f2f2f2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
.icon:hover {
  opacity: 1;
  background-color: #FFF;
}

.footer {
  background-color: #74cfae;
}
.footer-inner {
  padding: 20px 0 25px 0;
}
.footer-text {
  text-align: right;
  color: #FFF;
}



@media screen and (min-width:767px) and ( max-width:1199px) {
.inner {
  width: 97%;
}

.iphone-img {
  float: none;
  width: 97%;
  margin: 0 auto;
}
.iphone-title {
  margin: 0 auto;
  float: none;
  margin-top: 20px;
  width: 550px;
}

.about {
  padding-bottom: 25px; 
}

.galley-img {
  display: block;
  margin-left: 0;
  margin-top: 0;
  text-align: center;
}
.galley-img:nth-child(4) {
  margin-top: 80px;
}
.figure-text {
  float: none;
  padding-left: 0;
  margin: 0 auto;
}
.figure-content-out {
  float: none;
  padding-right: 0;
  text-align: center;
  margin-top: 40px;
}

.skills-item {
  display: block;
  margin-left: 0;
  margin-bottom: 88px;
}
.skills-item:last-child {
  margin-bottom: 0;
}
}


@media screen and ( max-width:766px) { 
.inner {
  width: 97%;
}

.keyvisual {
  background-color: #f2f2f2;
  padding-top: 160px;
  padding-bottom: 130px;
}

.iphone-img {
  float: none;
  width: 97%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.iphone-title {
  width: 100%;
}
.galley-img {
  display: block;
  margin-left: 0;
  margin-top: 0;
  text-align: center;
}

.about {
  padding-bottom: 25px;
}

.galley-img:nth-child(4) {
  margin-top: 80px;
}

.figure-text {
  float: none;
  padding-left: 0;
  margin-bottom: 40px;
  width: 100%;
}
.figure-content {
  margin-top: 80px;
}
.figure-content-out {
  float: none;
  padding-right: 0;
}
.skills-item {
  display: block;
  margin-left: 0;
  margin-bottom: 88px;
}
.skills-item:nth-child(4) {
  margin-bottom: 0;
}

.item-icon {
  padding: 50px 0;
}
.item-icon-inner {
  padding: 0;
}
.icon {
  width: 100%;
  display: block;
}

.header-contact {
  display: none;
}
.humberger {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  float: right;
}
.humberger-menu {
  border: 1px solid #ddd;
  width: 15px;
  margin-top: 5px;
}
.humberger-menu:first-child {
  margin-top: 0;
}
}